.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /* marge en haut et en bas */
  margin-block: 1rem;
}

form.valid {
  margin-top: 1rem;
  background-color: aquamarine;
  padding: 1rem;
}

form.invalid {
  margin-top: 1rem;
  background-color: beige;
  padding: 1rem;
}
